#bottom-div {

}

#center_text {
    font-size: 4.8vw;
    text-shadow: 2px 2px black;
    text-align: center
}

#call_box {
    font-size: 3.5vw;
    border-color: rgba(53, 52, 48, .8);
    border-width: 4px;
    width: fit-content;
    display: inline-block;
    background-color: rgba(252, 215, 215, .05)
}

#dynasty {
    background-color: rgb(247, 242, 235);
    font-weight: bolder;
}

#dyn_about {
    margin: auto;
    line-height: 25px;
    font-size: 16px;
    background-color: rgb(247, 242, 235);
    margin-top: 4vw;
}

#dyn_pic {
    left: 20vw;
    display: contents;
    text-align: center;
}

#dyn_pic img {
    opacity: .9;
    border-color: black;
    border-style: solid;
    border-width: .5vw;
    width: 75vw;
    max-width: 600px;
}


.foodpic  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    width: 33vw;
    height: 28vw;
    max-width: 300px;
    max-height: 250px
}

#footer {
    background-color: rgb(5, 5, 5);
    height: 40px;
}

#gh {
    font-size: 35px;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(53, 52, 48)
}

#gh_box {
    background-color: rgba(53, 52, 48, .2);
    color: rgb(242, 202, 44);
    font-size: 20px;
    margin-top: 12px;
    z-index: 1;
    letter-spacing: 3px;
    text-align: center;
}

#header_box {
    width: 100%;
    margin: 0px;
}

#hours {
    font-size: 12px;
    background-color: rgba(53, 52, 48, .5);
    width: fit-content;
    margin: auto;
}

#info {
    /* background-color: rgba(117, 2, 8, .8); */
    font-size: 15px;
    font-weight: bolder;
    line-height: 30px;
    letter-spacing: 3px;
    padding: 3vw;
    padding-bottom: 10vw;
    background-color: rgb(250, 249, 247);
}

#info_box:before {
    opacity: 0.3;
}


#location {
    background-color: rgba(53, 52, 48, .4);
    font-size: 18px;
    width: fit-content;
    margin: auto;
}


#menu_box {
    font-size: 5vw;
    border-color: rgba(53, 52, 48, .2);
    border-width: 4px;
    width: fit-content;
    display: inline-block;
    background-color: rgba(252, 215, 215, .05)
}

#nav_div{
    margin-left: 25px;
}

#nav_bar a {
    background-color: rgba(252, 215, 215, .05);
    color: white;
    font-size: 22px;
    margin: 5px;
}

#quote {
    padding: 10px;
    background-color: rgba(53, 52, 48, .7);
    font-size: 15px;
    z-index: 1;
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 5%;
    line-height: 20px;
    letter-spacing: 4px;
}

#quote_box {
    position: relative;
    background-color: rgba(41, 35, 35);
}

#quote_pic {
    height: 60vw;
    max-height: 600px;
    position: relative;
    opacity: .8;
    margin: auto;
}

#three_pics {
    flex-direction: horizontal;
    left: 5px;
}

#top_container {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    width: 100%;
    background: linear-gradient(0deg, rgba(1,10,34,1) -20%, rgba(131,8,8,1) 25%, rgba(161,14,14,1) 67%, rgba(230,22,22,1) 137%);
}

#wt_and_two_dish {
    /* height: 80vw; */
    width: 70%;
    /* max-height: 800px; */
    /* opacity: .8; */
    /* margin: auto; */
    background-size: contain;
}
