.foodpic  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item:hover {
    background-color: black;
}

#top-container {
    background: rgb(1,10,34);
    background: linear-gradient(0deg, rgba(1,10,34,1) -20%, rgba(131,8,8,1) 25%, rgba(161,14,14,1) 67%, rgba(230,22,22,1) 137%);
}
 
