body {
    font-family: papyrus, Garamond, Palatino, Times;
    font-size: 2.5vw;
    color: rgb(239, 227, 213)
}


button {
    border-radius: 0% 100% 32% 68% / 0% 79% 21% 100%;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    font-size: 2.4vw;
    letter-spacing: .6vw;
    text-shadow: -.3px -.3px 0 rgb(76, 61, 61);
    padding-top: 3vw;
    padding-bottom: 4vw;
    color: rgb(239, 197, 30);
    background-color: rgb(71, 69, 81);
    border: none;
    outline: none;
    width: 3vw;
    height: 8vw;
}

button:focus {
    border: none;
    outline: none;
}

button:hover  {
    color: rgb(99, 98, 94);
}

#call_to_order {
    background-color: rgba(238,232,170, .1);
    width: 70%;
    display: inline-block;
    font-size: 13px;
    margin: auto;
    width: fit-content;
    max-width: 400px;
}

.card {
    text-align: center;
    /*background-color: rgba(79,83,115,1);
    background: linear-gradient(0deg, rgba(1,10,34,1) -20%, rgba(38,34,46,1) 1%, rgba(79,83,115,1) 52%);*/
    font-size: 1.7vw;
    line-height: 200%;
    color: rgb(234, 229, 218);
    text-transform: uppercase;
    max-width: 600px;
    margin: auto;
}

#covid-info {
    font-size: 11px;
    color: rgb(238,232,170);
    display: inline-block;
    width: 450px;
    border-color: rgb(238,232,170);
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    max-width: 400px;
    margin: auto;
}


.description {
    font-size: 1.1vw;
    line-height: 150%;
}

#gh_heading {
    padding-top: 20px;
    background-color: rgba(138, 8, 8);
    text-shadow: 2px 2px rgb(53, 52, 48)
}

#gh_text {
    padding-bottom: 20px;
    font-size: 15px;
    color: rgb(239, 197, 30)
}


.row {
    margin-left: auto;
    margin-right: auto;
}
