/*
///CURRENTLY NOT USED
#topbox {
    background-color: rgb(178, 29, 3);
        height: 20%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

}

#leftbox {

    background-color: rgb(251, 225, 164);
    width: 200px;
    padding: 25px;

}

#hours {
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: left;

}


h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(251, 225, 164);
    text-align: left;
    background-color: rgb(178, 29, 3);


}
h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(178, 29, 3);
    text-align: left;



}
h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(178, 29, 3);
    text-align: center;
    background-color: rgb(251, 225, 164);
}

h4 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(178, 29, 3);
    text-align: center;
    background-color: rgb(251, 225, 164);
}



body {
    font-family: Garamond, serif;
    background-color: rgb(178, 29, 3);
    background-size: contain;
}*/
